final/src/main/mule/final.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d6c51c24-01a2-45c2-838c-a7a307d9367b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="finalFlow" doc:id="56b1852c-cc16-4ba3-9adf-db0acb826ec6" >
		<http:listener doc:name="Listener" doc:id="2bd36d0a-565d-4a29-a1ba-492482db7b22" config-ref="HTTP_Listener_config" path="/info"/>
		<ee:transform doc:name="Transform Message" doc:id="aadcfd3c-0823-42d4-a835-9ab76e091a66" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Welcome!" ++ " " ++ payload.firstName ++ " " ++ payload.lastName ++ ".Your customer id is " ++ payload.cid]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
